<head>
    
    <title>PACIFIC HOMES</title>
    <meta name="description" content="A large-scale company specializing in the global supply of prefab houses"/>
    <meta name="keywords" content="Packing,Folding,Two Wing"/>
    <meta http-equiv="x-dns-prefetch-control" content="on" />
<link rel="preconnect" href="https://omo-oss-image.thefastimg.com/" crossorigin />
<link rel="dns-prefetch" href="http://dcloud-static01.faststatics.com/"/>
<link rel="shortcut icon " type="images/x-icon" href="{{  url_for('static', filename='npublic/img/PacificHomes-removebg-preview.png') }}" />
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='npublic/libs/css/ceccbootstrap.min.css') }}?instance=new2024053117235883243&viewType=p&v=1735033002000&siteType=oper">
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/sitebeaf.css') }}?instance=new2024053117235883243&viewType=p&v=1735033002000&siteType=oper">
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/Home_28f0afd03f71ba7838bc7a8571d1e46a.minbeaf.css') }}?instance=new2024053117235883243&viewType=p&v=1735033002000&siteType=oper">    
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content
