{% extends 'base.html' %}
{% block title %}Home - Pacific Homes{% endblock %}

{% block content %}
<div id="c_banner_019_P_189-16838533693220">
<div class="e_bannerA-2 s_list homeLb" needjs="false">
    <div class="swiper-container" >
        <div class="swiper-wrapper p_swiperContainer">
            <div class="swiper-slide p_slide" >
                <section class="slide_warp"
                data-swiper-parallax="60%"
                data-swiper-parallax-scale="1.2"
                style="background-image: url('{{ url_for("static", filename="npublic/img/p3.jpg") }}');">
                    <div class="p_img">
                        <a class="P_link_img" href="{{  url_for('products',no=0) }}" target="_self">
                            <img src="{{ url_for('static', filename='npublic/img/p1.jpg') }}" alt="Container house Specializing in high quality" title="Container house Specializing in high quality" loading="lazy"/>
                        </a>
                    </div>
                <div class="p_info ">
                    <div class="p_info_fivebox">
                        <div class="p_entitle">PACIFIC HOMES</div>
                        <div class="p_btitle">Container house Specializing in high quality</div>
                        <span class="p_cspan"></span>
                       <p class="p_summary">● Provide diversified house customization services<br/>● Packing boxes, folding mobile homes, double-wing extensions, equipment boxes</p>
                        <a href="{{  url_for('products',no=0) }}" target="_self" class="p_button">Know More 
                          <svg t="1692689324379" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3305" width="200" height="200"><path d="M755.008 480H160a31.168 31.168 0 0 0-23.04 8.96A31.168 31.168 0 0 0 128 512c0 9.344 3.008 17.024 8.96 23.04 6.016 5.952 13.696 8.96 23.04 8.96h595.008L520.96 776.96a33.408 33.408 0 0 0-8.96 23.04c0 8.64 3.2 16.128 9.536 22.464A30.72 30.72 0 0 0 544 832a33.408 33.408 0 0 0 23.04-8.96l288-288A33.408 33.408 0 0 0 864 512a33.408 33.408 0 0 0-8.96-23.04l-288-288A33.408 33.408 0 0 0 544 192a30.72 30.72 0 0 0-22.464 9.472A30.72 30.72 0 0 0 512 224c0 8.64 3.008 16.32 8.96 23.04l234.048 232.96z" p-id="3306"></path></svg></a>
                    </div>
                </div>
             </section>
            </div>
            <div class="swiper-slide p_slide" >
               <section class="slide_warp" data-swiper-parallax="60%" data-swiper-parallax-scale="1.2" style="background-image: url('{{ url_for("static", filename='npublic/img/p2.jpg') }}');">
                    <div class="p_img">
                        <a class="P_link_img" href="{{  url_for('products',no=0) }}" target="_self">
            <img src="{{ url_for('static', filename='npublic/img/p2.jpg') }}" alt="Container house Specializing in high quality" title="Container house Specializing in high quality" loading="lazy"/>
                        </a>
                    </div>
                <div class="p_info ">
                    <div class="p_info_fivebox">
                        <div class="p_entitle">PACIFIC HOMES</div>
                        <div class="p_btitle">Container house Specializing in high quality</div>
                        <span class="p_cspan"></span>
                       <p class="p_summary">● Provide diversified house customization services<br/>● Packing boxes, folding mobile homes, double-wing extensions, equipment boxes</p>
                        <a href="{{  url_for('products',no=0) }}" target="_self" class="p_button">Know More 
                          <svg t="1692689324379" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3305" width="200" height="200"><path d="M755.008 480H160a31.168 31.168 0 0 0-23.04 8.96A31.168 31.168 0 0 0 128 512c0 9.344 3.008 17.024 8.96 23.04 6.016 5.952 13.696 8.96 23.04 8.96h595.008L520.96 776.96a33.408 33.408 0 0 0-8.96 23.04c0 8.64 3.2 16.128 9.536 22.464A30.72 30.72 0 0 0 544 832a33.408 33.408 0 0 0 23.04-8.96l288-288A33.408 33.408 0 0 0 864 512a33.408 33.408 0 0 0-8.96-23.04l-288-288A33.408 33.408 0 0 0 544 192a30.72 30.72 0 0 0-22.464 9.472A30.72 30.72 0 0 0 512 224c0 8.64 3.008 16.32 8.96 23.04l234.048 232.96z" p-id="3306"></path></svg></a>
                    </div>
                </div>
             </section>
            </div>
            <div class="swiper-slide p_slide" >
               <section class="slide_warp" data-swiper-parallax="60%" data-swiper-parallax-scale="1.2" style="background-image: url('{{ url_for("static", filename='npublic/img/p8.jpg') }}');">
                    <div class="p_img">
                        <a class="P_link_img" href="{{  url_for('products',no=0) }}" target="_self">
            <img src="{{ url_for('static', filename='npublic/img/p3.jpg') }}" alt="Container house Specializing in high quality" title="Container house Specializing in high quality" loading="lazy"/>
                        </a>
                    </div>
                <div class="p_info ">
                    <div class="p_info_fivebox">
                        <div class="p_entitle">PACIFIC HOMES</div>
                        <div class="p_btitle">Container house Specializing in high quality</div>
                        <span class="p_cspan"></span>
                       <p class="p_summary">● Provide diversified house customization services<br/>● Packing boxes, folding mobile homes, double-wing extensions, equipment boxes</p>
                        <a href="{{  url_for('products',no=0) }}" target="_self" class="p_button">Know More 
                          <svg t="1692689324379" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3305" width="200" height="200"><path d="M755.008 480H160a31.168 31.168 0 0 0-23.04 8.96A31.168 31.168 0 0 0 128 512c0 9.344 3.008 17.024 8.96 23.04 6.016 5.952 13.696 8.96 23.04 8.96h595.008L520.96 776.96a33.408 33.408 0 0 0-8.96 23.04c0 8.64 3.2 16.128 9.536 22.464A30.72 30.72 0 0 0 544 832a33.408 33.408 0 0 0 23.04-8.96l288-288A33.408 33.408 0 0 0 864 512a33.408 33.408 0 0 0-8.96-23.04l-288-288A33.408 33.408 0 0 0 544 192a30.72 30.72 0 0 0-22.464 9.472A30.72 30.72 0 0 0 512 224c0 8.64 3.008 16.32 8.96 23.04l234.048 232.96z" p-id="3306"></path></svg></a>
                    </div>
                </div>
             </section>
            </div>
            <div class="swiper-slide p_slide" >
               <section class="slide_warp" data-swiper-parallax="60%" data-swiper-parallax-scale="1.2" style="background-image: url(' {{ url_for("static", filename='npublic/img/news-1.jpeg') }}');">
                    <div class="p_img">
                        <a class="P_link_img" href="{{  url_for('products',no=0) }}" target="_self">
            <img src="{{ url_for('static', filename='npublic/img/PacificHomes.png') }}" alt="Container house Specializing in high quality" title="Container house Specializing in high quality" loading="lazy"/>
                        </a>
                    </div>
                <div class="p_info ">
                    <div class="p_info_fivebox">
                        <div class="p_entitle">PACIFIC HOMES</div>
                        <div class="p_btitle">Container house Specializing in high quality</div>
                        <span class="p_cspan"></span>
                       <p class="p_summary">● Provide diversified house customization services<br/>● Packing boxes, folding mobile homes, double-wing extensions, equipment boxes</p>
                        <a href="{{  url_for('products',no=0) }}" target="_self" class="p_button">Know More 
                          <svg t="1692689324379" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3305" width="200" height="200"><path d="M755.008 480H160a31.168 31.168 0 0 0-23.04 8.96A31.168 31.168 0 0 0 128 512c0 9.344 3.008 17.024 8.96 23.04 6.016 5.952 13.696 8.96 23.04 8.96h595.008L520.96 776.96a33.408 33.408 0 0 0-8.96 23.04c0 8.64 3.2 16.128 9.536 22.464A30.72 30.72 0 0 0 544 832a33.408 33.408 0 0 0 23.04-8.96l288-288A33.408 33.408 0 0 0 864 512a33.408 33.408 0 0 0-8.96-23.04l-288-288A33.408 33.408 0 0 0 544 192a30.72 30.72 0 0 0-22.464 9.472A30.72 30.72 0 0 0 512 224c0 8.64 3.008 16.32 8.96 23.04l234.048 232.96z" p-id="3306"></path></svg></a>
                    </div>
                </div>
             </section>
            </div>
        </div>
        <div class="p_kongjian"></div>
        <div class="swiper-pagination p_pagenation"></div>
        <div class="p_arr">
            <div class="js_editor_click swiper-button-prev p_btn_prev"></div>
            <div class="js_editor_click swiper-button-next p_btn_next"></div>
        </div>
        <div class="p_scrool"><i></i><span>SCORLL DOWN</span></div>
    </div>
  
</div>
<script src="{{ url_for('static', filename='upload/js/29197b8a19d943e58f656cc39f690555efa0.js') }}?instance=undefined&viewType=undefined&v=undefined&siteType=undefined"></script>
<script src="{{ url_for('static', filename='upload/js/99292ea219f04fcfbc43991c3dc079e5efa0.js') }}?instance=undefined&viewType=undefined&v=undefined&siteType=undefined"></script>


  
 <input type="hidden" name="propJson" value='{&quot;settings_2&quot;:{&quot;videoLoop&quot;:false,&quot;videoControlor&quot;:false,&quot;navigation&quot;:true,&quot;pagination&quot;:true,&quot;effect&quot;:&quot;slide&quot;,&quot;showText&quot;:true,&quot;videoAutoplay&quot;:false,&quot;videoMouted&quot;:true,&quot;deplay&quot;:4,&quot;autoplay&quot;:true,&quot;direction&quot;:&quot;horizontal&quot;}}'/></div><div id="c_product_list_165-1719473376328">
<div class="e_container-13 s_layout">
    <div class="cbox-13-0 p_item"><div class="e_richText-14 s_title clearfix">
    <p>Products</p>

</div><p class="e_text-16 s_title">
        Choose us and you will get excellent product quality, reliability and performance. We are committed to providing you with perfect support and services, and working with you to build a sustainable future!
</p></div>
</div><div class="e_loop-6 s_list" needjs="true" ds-id="" elem-id="e_loop-6">
    <div class="">

        
            <div class="p_list">
                <div class="cbox-6 p_loopitem"><div class="e_container-7 s_layout">
    <div class="cbox-7-0 p_item"><div class="e_image-11 s_img">
                    <a href="{{  url_for('product_details',no=152) }}" target="_self">
            <img src="{{ url_for('static', filename='npublic/img/p1.jpg') }}" alt="Folding prefabricated building" title="Folding prefabricated building" la="la"/>
                    </a>
</div><div class="e_container-12 s_layout">
    <div class="cbox-12-0 p_item"><p class="e_text-8 s_title">
        <a href="{{  url_for('product_details',no=152) }}" target="_self">
    Folding prefabricated building
        </a>
</p><p class="e_text-9 s_title">
    A folding prefabricated house is a type of prefabricated house that is designed with a collapsible structure. This design allows the house to be quickly unfolded and stowed away when needed, making it easy to move and store.
</p></div>
</div></div>
</div></div>
                <div class="cbox-6 p_loopitem"><div class="e_container-7 s_layout">
    <div class="cbox-7-0 p_item"><div class="e_image-11 s_img">
                    <a href="{{  url_for('product_details',no=153) }}" target="_self">
            <img src="{{ url_for('static', filename='npublic/img/p2.jpg') }}" alt="Double Wing Expansion Room" title="Double Wing Expansion Room" la="la"/>
                    </a>
</div><div class="e_container-12 s_layout">
    <div class="cbox-12-0 p_item"><p class="e_text-8 s_title">
        <a href="{{  url_for('product_details',no=153) }}" target="_self">
    Double Wing Expansion Room
        </a>
</p><p class="e_text-9 s_title">
    Double-wing expansion box is a new type of box house product made by folding technology. Its main feature is that it has a double-wing structure that can be expanded, and this design makes the box room remain compact and portable, and at the same time, it can be flexibly expanded according to the actual demand, so as to provide a more spacious space to meet different residential and commercial needs.
</p></div>
</div></div>
</div></div>
{% endblock %}
                <div class="cbox-6 p_loopitem"><div class="e_container-7 s_layout">
    <div class="cbox-7-0 p_item"><div class="e_image-11 s_img">
                    <a href="{{  url_for('product_details',no=142) }}" target="_self">
            <img src="{{ url_for('static', filename='npublic/img/p3.jpg') }}" alt="Packing house" title="Packing house" la="la"/>
                    </a>
</div><div class="e_container-12 s_layout">
    <div class="cbox-12-0 p_item"><p class="e_text-8 s_title">
        <a href="{{  url_for('product_details',no=142) }}" target="_self">
    Packing house
        </a>
</p><p class="e_text-9 s_title">
    The Packing Box is a modular building based on a structural system of steel frames and lightweight wall panels. Packing Box consists of several unit modules that can be quickly installed, moved and transported in a very convenient way, easy to dismantle and store. The important point is that it is environmentally friendly. This is why packing boxes are more common nowadays and mobile homes are rare.
</p></div>
</div></div>
</div></div>
                <div class="cbox-6 p_loopitem"><div class="e_container-7 s_layout">
    <div class="cbox-7-0 p_item"><div class="e_image-11 s_img">
                    <a href="{{  url_for('products',no=58) }}" target="_self">
            <img src="{{ url_for('static', filename='npublic/img/p4.jpg') }}"  alt="Power storage box" title="Power storage box" la="la"/>
                    </a>
</div><div class="e_container-12 s_layout">
    <div class="cbox-12-0 p_item"><p class="e_text-8 s_title">
        <a href="{{  url_for('product_details',no=158) }}" target="_self">
    Power storage box
        </a>
</p><p class="e_text-9 s_title">
    Power storage boxes are widely used in power systems, industrial and mining enterprises, logistics giants and other fields, and play an important role in grid peak and valley balance, emergency backup, new energy peak shifting and other aspects. With the rapid development and application of renewable energy, the power storage box will be more popularized and improved, and become one of the important means to promote the development of clean energy and improve the efficiency of energy utilization.
</p></div>
</div></div>
</div></div>
                <div class="cbox-6 p_loopitem"><div class="e_container-7 s_layout">
    <div class="cbox-7-0 p_item"><div class="e_image-11 s_img">
                    <a href="{{  url_for('product_details',no=149) }}" target="_self">
            <img src="{{ url_for('static', filename='npublic/img/p5.jpg') }}" alt="Packing box office building" title="Packing box office building" la="la"/>
                    </a>
</div><div class="e_container-12 s_layout">
    <div class="cbox-12-0 p_item"><p class="e_text-8 s_title">
        <a href="{{  url_for('product_details',no=149) }}" target="_self">
    Packing box office building
        </a>
</p><p class="e_text-9 s_title">
    Packing box office building is a common temporary building, with packing box housing as the unit base, with easy installation, short construction period, can be packaged for long-distance transportation and other characteristics, commonly used in construction sites, medical rescue, field barracks, resettlement housing and a variety of commercial housing.
</p></div>
</div></div>
</div></div>
                <div class="cbox-6 p_loopitem"><div class="e_container-7 s_layout">
    <div class="cbox-7-0 p_item"><div class="e_image-11 s_img">
                    <a href="{{  url_for('product_details',no=136) }}" target="_self">
            <img src="{{ url_for('static', filename='npublic/img/p6.jpg') }}" alt="Folding Splicing Room" title="Folding Splicing Room" la="la"/>
                    </a>
</div><div class="e_container-12 s_layout">
    <div class="cbox-12-0 p_item"><p class="e_text-8 s_title">
        <a href="{{  url_for('product_details',no=136) }}" target="_self">
    Folding Splicing Room
        </a>
</p><p class="e_text-9 s_title">
    Folding splicing room is a kind of flexible and adaptable building form, which is spliced by a single folding room and can be freely combined according to the size of the space used.
</p></div>
</div></div>
</div></div>
